h1 {
    color: #8e44ad;
}

.two-col {
    /* display - block, inline*/
    display: flex;
    flex-direction: row;
    height: 90vh;
}

aside {
    background: red;
    /* margin: 10%;
    padding: 10%; */
}

main {
    background: blue;
}

header {
    height: 10vh;
}

ul {
    list-style-type: circle;
    /* margin: 10%; */
    margin-left: 10%;
}

img {
    border-radius: 50%;
}